In [7]:
from fredapi import Fred
import numpy as np
import pandas as pd

In [3]:
fred = Fred(api_key="8ede227d95e33c5cdf2ea8a83577bc0a")

In [6]:
indeed_jobs = fred.get_series("IHLIDXNSAGB")  # Job offerings on Indeed UK
interest_rates = fred.get_series("IRLTLT01GBM156N")  # Interest Rates: Long-Term Government Bond Yields: 10-Year for United Kingdom
residential_prices = fred.get_series("QGBN628BIS")  # Residential Property Prices for United Kingdom
gdp_uk = fred.get_series("UKNGDP")  # Gross Domestic Product for United Kingdom
cpi_uk = fred.get_series("GBRCPIALLMINMEI")  # Consumer Price Indices (CPIs, HICPs), COICOP 1999: Consumer Price Index: Total for United Kingdom

In [17]:
economic_uncertainty = pd.read_csv("../data/USEPUINDXD.csv", index_col="observation_date", parse_dates=True, date_format="yyyy-MM-dd").squeeze()

In [18]:
economic_uncertainty

observation_date
1985-01-01    103.83
1985-01-02    296.43
1985-01-03     56.06
1985-01-04    118.45
1985-01-05     88.56
               ...
2025-03-07    506.79
2025-03-08    450.88
2025-03-09    619.69
2025-03-10    392.44
2025-03-11    478.36
Name: USEPUINDXD, Length: 14680, dtype: float64

In [29]:
data = {
    "daily": [("indeed_jobs", indeed_jobs), ("economic_uncertainty", economic_uncertainty)],
    "monthly": [("interest_rates", interest_rates), ("cpi_uk", cpi_uk)],
    "quarterly": [("residential_prices", residential_prices), ("gdp_uk", gdp_uk)]
}

In [31]:
for periodicity, series in data.items():
    for serie_name, serie in series:
        print(f"{periodicity}, {serie_name}\n{serie.tail()}\n {len(serie)} observations\n")

daily, indeed_jobs
2025-03-17    83.45
2025-03-18    83.40
2025-03-19    83.33
2025-03-20    83.35
2025-03-21    83.39
dtype: float64
 1876 observations

daily, economic_uncertainty
observation_date
2025-03-07    506.79
2025-03-08    450.88
2025-03-09    619.69
2025-03-10    392.44
2025-03-11    478.36
Name: USEPUINDXD, dtype: float64
 14680 observations

monthly, interest_rates
2024-10-01    4.1993
2024-11-01    4.4164
2024-12-01    4.4345
2025-01-01    4.6627
2025-02-01    4.5063
dtype: float64
 782 observations

monthly, cpi_uk
2024-09-01    133.5
2024-10-01    134.3
2024-11-01    134.6
2024-12-01    135.1
2025-01-01    135.1
dtype: float64
 841 observations

quarterly, residential_prices
2023-10-01    164.5885
2024-01-01    162.7598
2024-04-01    165.0873
2024-07-01    169.9086
2024-10-01    170.9061
dtype: float64
 227 observations

quarterly, gdp_uk
2023-07-01    685035.0
2023-10-01    685749.0
2024-01-01    697617.0
2024-04-01    704470.0
2024-07-01    712652.0
dtype: float64
 279 observations